#noticiasdestaque {
    margin: auto;
    text-align: center;
    background-color: rgb(234, 234, 234);
    width: 100%;
    margin: auto;
    text-align: center;
    padding-bottom: 120px;
    padding-top: 100px;
    margin-top: 90px;
}


button.slick-next::before{
	color: #D39B7F!important;
}

button.slick-prev::before{
	color: #D39B7F!important ;
}

#noticiastext {
    width: 49%;
    margin: auto;
    font-size: 17px;
    line-height: 35px;
}

.noticiasslider {
    width: 73.01%;
    margin: auto;
    margin-top: 50px;
    display: flex;
}

#noticiasslider1 .slick-dots li button::before {
    color: rgb(155, 150, 150)!important;
    top: 0!important;
    font-size: 10px!important;
}

#noticiasslider1 .slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 0.8!important;
    color:#D39B7F !important;
}

#noticiasslider2 .slick-dots li button::before {
    color: rgb(230, 230, 230)!important;
    top: 0!important;
    font-size: 10px!important;
}

#noticiasslider2 .slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1!important;
}

.noticiasslider .slick-track {
    height: auto;
    padding-bottom: 20px;
}

.tresnoticias {
    width: 32.34%;
    margin-right: 0.745%;
    margin-left:0.745%;
    transition: 0.4s ease;
}

.tresnoticias:focus {
    outline: 0;
}

.imagenoticia {
    height: 200px;
    width: 100%;
    -webkit-filter: grayscale(60%);
    background-color: lightgrey;
    display: block;
    opacity: 0.8;
}

.descriptionnoticia {
    padding: 5%;
    padding-bottom: 40px;
    padding-top: 30px;
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(220, 220, 220);
}

.descriptionnoticia h6 {
    font-family: Muli;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    color: rgb(70, 70, 70);
}

.details {
    margin: auto;
    margin-top: 10px;
}

.fontesemana {
    display: inline-block;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 13px;
    color: #D39B7F;
    margin-right: 20px;
}

.datasemana {
    display: inline-block;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 13px;
    color: #D39B7F;
}

.descnoticia {
    float: left;
    margin-top: 20px;
    font-weight: 200;
    font-size: 15px;
    line-height: 27px;
    color: rgb(70, 70, 70);
    letter-spacing: 0.02em;
    margin-bottom: 40px;
}

.buttonnoticia {
    /*! width: 160px; */
    margin: auto;
    text-align: center;
    color: rgb(245, 245, 245);
    font-family: Muli;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 7px;
    padding-right: 20px;
    padding-left: 20px;
    letter-spacing: 0.06em;
    transition: 0.4s ease;
    background-color: rgba(211, 155, 127, 0.9);
    opacity: 1;
    /*! float: left; */
    clear: both;
}

.buttonnoticia:hover {
    opacity: 0.7;
    cursor: pointer;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.opacity {
    opacity: 1;
}

#premios {
    /*! background-color: rgba(234, 234, 234, 0.8); */
    margin-top: 20px;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 70px;
}

.premio {
    transition: 0.4s ease;
}

#premios h3{
    /*! color: rgb(230,230,230); */
}

.premio:hover .imagenoticia {
    opacity: 1;
}

.premio:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.premio:hover h6 {
    /*! color: rgb(230, 230, 230); */
}

.descriptionpremios {
    padding: 5%;
    overflow: auto;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: rgba(211, 155, 127, 0.8);
    margin-top: 5px;
    line-height: 20px;
}

.descriptionpremios:hover {
    background-color: rgba(211, 155, 127, 1);
}

.descriptionpremios h6 {
    font-family: Muli;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: rgb(230, 230, 230);
    letter-spacing: 0.02em!important;
}

#arquivonoticias {
    /*! float: left; */
    /*! overflow: auto; */
    /*! clear: both; */
    margin-top: 20px;
    background-color: rgb(234, 234, 234);
}

#maisnoticias {
    width: 79%;
    margin-left: 8.5%;
    margin-right: 2%;
    height: 400px;
    display: inline-block;
    /*! float: left; */
    padding-top: 100px;
}

#arquivoh3 {
    margin-bottom: 80px;
}

.noticia {
    width: 100%;
    overflow: auto;
    margin-bottom: 70px;
}

.noticia img {
    margin-right: 2.6%;
    width: 48.2%;
    background-color: lightblue;
    display: block;
    float: left;
    -webkit-filter: grayscale(40%);
}

.infonoticia {
    width: 49.2%;
    float: left;
}

.noticiatipo {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    display: inline-block;
    margin-right: 20px;
    /*! margin-bottom: px; */
    color: #D39B7F;
}

.titulonoticia {
    font-family: Muli;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    color: rgb(70, 70, 70);
}

.datanoticia {
    font-weight: 200;
    text-transform: uppercase;
    font-size: 13px;
    color: rgb(70, 70, 70);
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
}

.fonte {
    font-weight: 200;
    text-transform: uppercase;
    font-size: 13px;
    color: rgb(70, 70, 70);
    display: inline-block;
    margin-right: 20px;
}

.arquivobt {
    float: left;
    width: 20%;
    margin: auto;
    width: 80px;
}

#populares {
    width: 21.5%;
    /*! background-color: lightblue; */
    float: right;
    margin-top: 195px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(234, 234, 234);
}

#populares h6 {
    margin-bottom: 30px;
}

.noticiapequena {
    width: 100%;
    margin-bottom: 15px;
    overflow: auto;
}

.noticiapequena img {
    width: 30%;
    background-color: red;
    display: block;
    height: 70px;
    float: left;
    margin-right: 1.6%;
}

.infopopular {
    width: 68.4%;
    float: left;
    background-color: beige;
    height: 70px;
}

@media screen and (max-width: 1441px) {
    .noticia {
        width: 100%;
        overflow: auto;
        margin-bottom: 30px;
        height: 330px;
    }
    .noticia img {
        margin-right: 4%;
        width: 40.5%;
        background-color: lightblue;
        display: block;
        float: left;
        -webkit-filter: grayscale(40%);
    }
    .infonoticia {
        width: 55.5%;
        float: left;
    }
    .fontesemana {
        margin-right: 0;
        display: block;
    }
    
    .descnoticia{
        font-size: 14px;
    }
    
    .noticiatipo{
        font-size: 13px;
    }
    
    .fonte{
        margin-top: 0px;
    }
    
    .datanoticia{
        margin-top: 0px;
    }
    
    .buttonnoticia{
        
    }
}
@media screen and (max-width: 1441px) {
    .imagenoticia{
        height:160px;
    }
    
    .descriptionnoticia h6{
        font-size: 18px;
        line-height: 28px;
    }
    
    .descriptionpremios{
        padding-top: 4%;
        padding-bottom: 4%;
    }
    
    .descriptionpremios h6{
        font-size: 15px;
        line-height: 22px!important;
    }
    
    #noticiasslider1 .slick-dots li button::before {
    font-size: 6px!important;
}
    
    #noticiasslider2 .slick-dots li button::before {
    font-size: 6px!important;
}
}

@media screen and (max-width: 850px) {
    #noticiasslider1 .slick-slide {
        max-width: 300px;
    }
    
}
